<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deft_1d</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h2>Deft-1D</h2>
<h3>Density Estimation Using Field Theory</h3>

<input form="run_deft_form" type = "file" name = "file" onchange="document.getElementById('uploaderButton').click();"/>
<input hidden id="uploaderButton" form="run_deft_form" type="submit" value="Upload Data" name="dataUploadButton">

<form id="run_deft_form" action = "/" method = "POST" enctype = "multipart/form-data">

{% if input_type == 'simulated' %}
<input id="simulated_1" type="radio" name="input_type" value="simulated" checked="checked"/>
{% else %}
<input id="simulated_2" type="radio" name="input_type" value="simulated"/>
{% endif %}
Simulated data:
<select name="distribution" width="30">
{% for dist in distribution %}
    <option value="{{ dist }}" {% if loop.index0==dist_index %} selected="selected"{% endif %}> {{ dist }} </option>
{% endfor %}
</select>
N:<input type="number" name="N" value="{{ N }}">
<br>
{% if input_type == 'example' %}
<input id="example_1" type="radio" name="input_type" value="example" checked="checked"/>
{% else %}
<input id="example_2" type="radio" name="input_type" value="example"/>
{% endif %}
Example data:
<select name="example_data" width="30">
{% for example in example_data %}
    <option value="{{ example }}" {% if loop.index0==example_data_index %} selected="selected"{% endif %}> {{ example }} </option>
{% endfor %}
</select>
<br>
{% if input_type == 'user' %}
<input id="user_1" type="radio" name="input_type" value="User Data" checked="checked"/>
{% else %}
<input id="user_2" type="radio" name="input_type" value="User Data"/>
{% endif %}
User Data:
<br>
G: <input type="number" name="G" value="{{ G }}">
alpha: <input type="number" name="alpha" value="{{ alpha }}">
bbox: [ <input type="number" name="bbox_left" value="{{ bbox_left }}">, <input type="number" name="bbox_right" value="{{ bbox_right }}">] <br>


<br>
<input class="btn btn-md btn-success" id="run_deft" type="submit" value="run_deft" name="run_deft_button" />

</form>

<img src="data:image/png;base64,{{ result }}">
</div>
</body>
</html>

