<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deft_1d</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h2>Deft-1D</h2>
<h3>Density Estimation Using Field Theory</h3>

<form id="run_deft_form" action = "/" method = "POST" enctype = "multipart/form-data">

<input id="simulated_1" type="radio" name="input_type" value="simulated" checked="checked"/>
Simulated data:
<select name="distribution" width="30">
{% for dist in distribution %}
    <option value="{{ dist }}" {% if loop.index0==dist_index %} selected="selected"{% endif %}> {{ dist }} </option>
{% endfor %}
</select>
N:<input type="number" name="N" value="{{ N }}">
<br>
<input id="example_1" type="radio" name="input_type" value="example"/>
Example data: <br>
G: <input type="number" name="G" value="{{ G }}">
alpha: <input type="number" name="alpha" value="{{ alpha }}">
bbox: [ <input type="number" name="bbox_left" value="{{ bbox_left }}">, <input type="number" name="bbox_right" value="{{ bbox_right }}">] <br>


<br>
<input class="btn btn-md btn-success" id="run_deft" type="submit" value="run_deft" name="run_deft_button" />

</form>

<img src="data:image/png;base64,{{ result }}">
</div>
</body>
</html>


<!-- hardcoded html

<select name="distribution" width="30">
                <option value="gaussian">
                    Gaussain
                </option>
                <option value="narrow">
                    Gaussian mixture, narrow separaiton
                </option>
                <option value="wide" selected="selected">
                    Gaussian mixture, wide separation
                </option>
                <option value="accordian">
                    Accordian
                </option>
                <option value="foothills">
                    Foothills
                </option>
                <option value="goalposts">
                    Goalposts
                </option>
                <option value="towers">
                    Towers
                </option>
                <option value="uniform">
                    Uniform
                </option>
                <option value="beta_convex">
                    Convex beta
                </option>
                <option value="beta_concave">
                    Concave beta
                </option>
                <option value="exponential">
                    Exponential
                </option>
                <option value="gamma">
                    Gamma
                </option>
                <option value="triangular">
                    Triangular
                </option>
                <option value="laplace">
                    Laplace
                </option>
                <option value="vonmises">
                    von Mises
                </option>
</select>
-->
